{% extends "base.html" %}
{% block title %}Draw Charts{% endblock %}
{% block content %}

<div class="site-header-logo">
<h1 class="text-center">Pipeline Incidents By Year</h1>
</div>
<div class="row p-4">
    <div class="card m-auto" style="width: 90%">
        <div class="card-body">
            <div id="chart1" class="chart" style="font-size: 1.5rem">
                <p>This chart is the brief review of the number of pipeline incident happened by year. It doesn't show a
                clear trend of whether the number of incidents has been decreasing of increasing, but it could help
                researchers to further dig into the substances and significance involved in the incidents.</p>
            </div>
        </div>
    </div>
</div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var graph1 = {{graph1JSON | safe}};
    Plotly.plot("chart1", graph1, {})
</script>
{% endblock %}