{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="site-header-logo">
<h1 class="text-center">INTRODUCTION OF PROJECT</h1>
</div>
<div class="container">
    <div style="width: 90%; font-size: 1.6rem">
        <br>
        This project is using Python and MongoDB, with a dataset published by Canada Energy Regulator. <br><br>
        The purpose of this project is to practice the following:
        <ul>
            <li> MongoDB as non-relational database and CRUD with MongoDB
                <ul>
                    <li> Read all records </li>
                    <li> Create new records</li>
                    <li> Update one record</li>
                    <li> Delete one record</li>
                    <li> Search record from database</li>
                </ul>
            </li>
            <li> Python programming language, including MVC, Inheritance, Dataframe, Plotly</li>
            <li> Read CSV file with Python and insert data into MongoDB</li>
            <li> Data Visualization with Plotly</li>
            <li> To Build a web application with Flask Framework</li>
        </ul>


        According to the dataset provider, the data "This data presents details of pipeline incidents,
        as defined by the Onshore Pipeline Regulations and Processing Plant regulations, including
        cause information. The data ranges from 2008 to current; it is updated quarterly."
    </div>
</div>

</div>
{% endblock %}
